
/* Your CSS Code here. */
.main{
/* 	Class name: main */
Width: 200px;
background-color:purple;
border: green;
border-left: 5px solid green;
padding: 10px;
}

#heading{
/* 	Class and id name: heading */
/* Text: "This is a Heading" */
   font-size: 20 px;
   color: white;
text-decoration: underline;
}